<div class="row">
  <div class="col text-center">
    <div class="form-group">
      <label for="emailBox">Reset password</label>
      <input type="email" #emailBox="ngModel" [(ngModel)]="model.emailBox" name="emailBox" id="emailBox" placeholder="Email"
             class="form-control" [ngClass]="{ 'is-invalid': emailBox.touched && emailBox.invalid }" required email/>

      <span class="invalid-feedback">
        <span *ngIf="emailBox.errors?.required">Email is required</span>
        <span *ngIf="emailBox.errors?.email">Not a valid email.</span>
      </span>
      <span>
        If you are not registered user, then you won't receive any instructions to change the password.
      </span>
      <br>
      <br />
      <button [disabled]="emailBox.invalid" (click)="handleSubmit()" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
